{% extends 'main/layout.html' %}
{% block title  %}Главная страница{% endblock %}
{% block content  %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, fuga vel ducimus labore saepe ipsam molestias molestiae pariatur consectetur ut fugit! Magni expedita ducimus quibusdam quam inventore. Sint, earum dolore!</p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
    <!--{% include 'main/test.html'%}-->
{% endblock %}